#cookie-banner-message {
  font-family: $sans-serif;
  font-weight: lighter;
  text-transform: none;
  background-color:#fff;
  text-align:center;
  padding:5px;
  font-size:0.7em;
  border-bottom:1px solid #eeeeee;  
}
