.lang-switch {
  $lang-color-selected : $color-5;
  $navigation-height: 60px;
  float: right;
  margin: 4px 4px;
  z-index: 9999;
  line-height: $navigation-height/2-5;
  
  font-size: 0.6em;
  padding: 0;
  border: 1px solid $lang-color-selected;
  border-radius: $base-border-radius;
  text-align: center;
  list-style-type: none;

  @include media($medium-screen) {
    font-size: 0.8em;
    margin: 4px 8px;
  }

  li {
    list-style-type: none;
    padding: 0 0.3em;
  }
  a {
    font-family: $sans-serif;
    font-weight: lighter;
    color: white;
  }
  @at-root 
    html[lang='fr'] .lang-switch .fr,
    html[lang='en'] .lang-switch .en {
    color: $lang-color-selected;
  }
}
