.medias {
  $medias-details-color: lighten($dark-gray,25);
  .compl {
    color: $medias-details-color;
    font-size: 0.8em;
    &::before{
      content: "(\00a0";
    }
    &::after{
      content: "\00a0)";
    }
  }
  .altlang + .from::before {
    content: ", ";
  }
  time {
    display: block;
    color: $medias-details-color;
    font-style: italic;
    @include media($medium-screen) {
      display: inline-block;
    }
    &::before{
      content: "–\00a0"
    }
  }
}
