header.navbar {
  $navigation-count: 6;
  $navigation-padding: 5px;
  $navigation-background: $dark-gray;
  $navigation-color: white;
  $navigation-color-selected: $color-5;
  $navigation-height: 60px;
  $horizontal-bar-mode: $large-screen;
  $nav-fs: 1.2em;

  background-color: $navigation-background;
  // border-bottom: 1px solid darken($navigation-background, 10);
  font-family: $header-font-family;
  font-size: $nav-fs;
  font-weight: 700;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 10;

  // Anchor the nav bar on top after scrolling

  &.index {
    background-color: transparent;
    border-bottom: none;
    position: absolute;
  }


  @at-root .anchor {
    padding-top: $navigation-height;
  }


  // Main Nav

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 100;
  }

  // Social links

  .socio-links {
    float: left;    
    max-height: $navigation-height;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    padding-left: 0.2em;
    display: inline;

    font-size: 0.8em;

    @include media ($horizontal-bar-mode) {
      padding-left: 0.5em;
    }

    li {
      display: inline-block;
      line-height: $navigation-height;
      padding-right: 0.4em;
      padding-left: 0.4em;
      text-decoration: none;
    }

    li a {
      display: inline-block;
      vertical-align: middle;
      font-size: 1em;
      height: 1.5em;
      line-height: 1.5em;
      width: 1.5em;
      text-align: center;

      @include icon-circ-hover($navigation-color,$navigation-background,$navigation-color-selected);
    }

    li:first-child a {
      font-size: 1.5em;
      @include icon-circ-hover($navigation-color-selected,$navigation-background,$navigation-color);
    }

    li a::after,li a::before {
      // content: none;
    }
  }

  // Mobile toggle button

  .navigation-menu-button {
    // positioning
    display: inline-block;
    line-height: $navigation-height - ($navigation-padding*2);
    float: right;
    margin-top: $navigation-padding;

    // style
    background-color: transparent;
    border: none;
    color: $navigation-color;
    padding: 0 0.4em;
    text-transform: uppercase;
    // margin-right: 1.6em;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,&:hover {
      background-color: $navigation-color-selected;
      color: $dark-gray;
    }
  }

  // Nav menu

  .nav {
    float: left;
    overflow-y: hidden;
    max-height: 0;
    width: 100%;
    $trans-dur: 0.3s;
    $trans-style: $ease-out-cubic;
    @include transition(max-height $trans-dur $trans-style);
    @include media ($horizontal-bar-mode) {
      float: right;
      max-height: 100%;
      width: auto;
    }


    &.active {
      display: block;
      max-height: $navigation-height * $navigation-count;
      @include transition(max-height $trans-dur $trans-style);
    }
  }

  .nav > ul {    
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    // clear: both;
    // display: none;
    margin: 0 auto;
    width: 100%;
    line-height: $navigation-height;

    padding: 0;

    z-index: 9999;
    @include media ($horizontal-bar-mode) {
      display: inline-block;
      margin: 0;
      padding: 0;
    }
  }
  
  // The nav items
  .nav > ul > li {
    background: $navigation-background;
    display: block;
    text-align: center;
    width: 100%;
    // z-index: 9999;

    @include media ($horizontal-bar-mode) {
      display: inline-block;
      padding-right: 0.2em;
      
      background: transparent;
      text-decoration: none;
      width: auto;
      &:last-child {
        padding-right: 0;
      }
    }

    a {
      border: none;
      color: $navigation-color;
      width: 100%;
      display: inline-block;

      @include media ($horizontal-bar-mode) {
        // display: inline;
        padding: 0 0.5em;
        line-height: $navigation-height - ($navigation-padding*2);
        border-radius: $base-border-radius;
      }

      &:hover,&:focus {
        background: $navigation-color-selected;
        color: $dark-gray;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 3px solid $navigation-color-selected;
    padding-bottom: -3px;
  }
}
