.press {
  $press-details-color: lighten($dark-gray,25);
  .pressitem {
    margin-bottom: 0.7em;
  }
  time {
    // display: block;
    color: $press-details-color;
    font-size: 0.8em;
    @include media($medium-screen) {
      display: inline-block;
    }
    &::after{
      content: "\00a0–"
    }
  }
  .pressitem__cat {
    color: $press-details-color;    
  }
  .pressitem__link {
    display: block;
  }
  .pressitem__source {
    font-style: italic;
    &::after{
      color: $press-details-color;
      font-size: 0.8em;
      content: "\00a0–"
    }
  }
  .pressitem__info {
    color: $press-details-color;
    font-size: 0.8em;
    /*
    &::before{
      content: "(";
    }
    &::after{
      content: ")";
    }*/
  }
  .pressitem__info__lang::before, .pressitem__info__from::before {
    content: ", ";
  }
}
