.supporters {
  $supporters-color: lighten($base-font-color, 15);

  ul.supporters__list {
    @include outer-container;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 0;
    overflow:hidden;
    list-style: none;
    text-align: center;
    color: $supporters-color;
  }
  .supporters__list li {
    margin-bottom: 1em;
    @include media(min-width $medium-screen max-width $large-screen) {
      @include span-columns(6);
      @include omega(2n);
    }
    @include media($large-screen) {
      @include span-columns(4);
      @include omega(3n);
    }
    span {
      font-size: 0.8em;
      font-style: italic;
      color: lighten($supporters-color, 10);
      display: block;
    }
  }

  .supporters__noteref {
    color: lighten($supporters-color, 20);
  }

  .supporters__footnotes {
    @include outer-container;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 0;
    list-style: none;
    color: $supporters-color;
  }
  
  .supporters__footnotes li {
    position: relative;
    font-size: 0.8em;

    &:before {
      display: inline-block;
      width: 2em;
      padding-right: 0.5em;
      text-align: right;
    }
    &:nth-child(1):before {
      content: "*";
    }
    &:nth-child(2):before {
      content: "**";
    }
    &:nth-child(3):before {
      content: "***";
    }
    &:nth-child(4):before {
      content: "****";
    }
  }

}

