#support {


  background: $dark-gray;
  color: white;
  
  .content {
  padding-bottom: 60px;
  padding-left: 1em;
  padding-right: 1em; 
  text-align: center;
  width: 100%;
  min-height: 30em;
  }

  h2 {
    color: white;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
  }


  .support_content {
    display: table;
    position: relative;
  }
  .support_content p {
    font-family: $serif;
    font-size: 1.2em;
    font-style: italic;
    margin: 1em 2em 2em 2em;
  }

  a.inline {
    @include link-braces(darken(white,20),$color-5);
  }

  .info, .share {
    height: 100%;
    display: block;
    margin-top: 2em; 
    @include media($large-screen) {
      display: table-cell;
      vertical-align: top;
    }
  }

  .info {
    // padding-top: 3em;
    padding-left: 1em;
    padding-right: 1em;
    
    @include media($large-screen) {
      width: 60%;
    }

    @mixin home-button($home-button-color) {
      background-color: $home-button-color;
      // color: white;
      color: $dark-gray;
      border: 2px solid $home-button-color;
      display: table;
      font-weight: 700;
      border-radius: $base-border-radius;
      font-family: $header-font-family;
      font-size: 1.4em;
      min-width: 15em;
      padding: 1em 1em;
      margin: 2em auto 1em;
      text-transform: uppercase;
      transition: color 0.3s;
      transition: background-color 0.3s;

      &:hover,&:focus {
        background-color: transparentize($dark-gray,0.2);
        color: $home-button-color;
      }

      @include media($medium-screen) {
        min-width: 15em;
        font-size: 1.6em;
      }
    }
    .action>i {
      margin-left: 1em;
      float: right;
      line-height: 1.4em;
      @include media($medium-screen) {
        line-height: 1.6em;
      }
    }
    .action {
      @include home-button($color-5);
    }
  }

  ul {
    list-style-type: none;
  }

  li {
    margin: 1em auto;
    .btn {
      width: 12em;
    }
  }  

  .twttr {
    @include social-share-button(#55acee,"\f099");
  }
  .fcbk {
    @include social-share-button(#3b5998,"\f09a");
  }
  .ggl {
    @include social-share-button(#cc3732,"\f0d5");
  }
  .email {
    @include social-share-button($color-4,"\f0e0");
  }

}
