<section id="luxleaks" class="content inline anchor">
<div>
  <div class="link-braces">
    <h2><i class="fa fa-question"></i>
      LuxLeaks, c'est quoi&nbsp;?</h2>

    <p>LuxLeaks, c'est la révélation de centaines d'accords fiscaux entre le fisc luxembourgeois et des multinationales, confirmant un système d’optimisation fiscale à grande échelle.</p>

    <p>C'est aussi le nom de l'enquête journalistique menée par l'<%= link_to 'International Consortium of Investigative Journalism', 'http://www.icij.org/project/luxembourg-leaks' %> (ICIJ), à partir de ces documents.</p>
  </div>

  <div>
    <h2><i class="fa fa-check"></i>
      Les répercussions</h2>

      <p>L'affaire a causé une belle déflagration et de multiples réactions d'indignation à travers le monde.</p>
      <p>En portant le sujet des "tax rulings" jusque dans les instances de gouvernance internationales —comme le G20 ou la Commission Européenne–, LuxLeaks a favorisé des discussions qui peu à peu conduiront à une meilleure justice fiscale.</p>
  </div>

  <div>
    <h2><i class="fa fa-exclamation"></i>
      Un lanceur d'alerte poursuivi</h2>

      <p>Antoine Deltour est le lanceur d'alerte à l'origine de la révélation d'une grande partie des documents des LuxLeaks.</p>
      <p>Antoine est aujourd'hui poursuivi devant la justice luxembourgeoise. Il a besoin de votre soutien !</p>
  </div>
</div>
</section>
