<section id="luxleaks" class="content inline anchor">
<div>
  <div class="link-braces">
    <h2><i class="fa fa-question"></i>
      What is LuxLeaks?</h2>

    <p>LuxLeaks is the disclosure of hundreds of tax agreements between Luxembourg authorities and multinational companies, bringing to light a large-scale tax avoidance planning.</p>

    <p>LuxLeaks is also the name of the investigation conducted by the <%= link_to 'International Consortium of Investigative Journalism', 'http://www.icij.org/project/luxembourg-leaks' %> (ICIJ) on the disclosed documents.</p>
  </div>

  <div>
    <h2><i class="fa fa-check"></i>
      Consequences</h2>

      <p>LuxLeaks "dropped the bomb" and provoked many indignant reactions all over the world.</p>
      <p>By bringing the tax rulings issue to the worldwide governing authorities –notably the G20 Brisbane Summit and the European Commission– it fostered democratic discussions that will progressively lead to reinforce fiscal justice.
       </p>
  </div>

  <div>
    <h2><i class="fa fa-exclamation"></i>
      A whistleblower in trouble</h2>

      <p>Antoine Deltour is the whistleblower behind the disclosure of many of the LuxLeaks documents.</p>
      <p>Today Antoine is on trial in Luxembourg. He needs your support!</p>
      <p><%= link_to "Read more on Wikipedia.", "https://en.wikipedia.org/wiki/Luxembourg_Leaks" %></p>
  </div>
</div>
</section>
