  <section class="timeline">
    <div id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-sign-out"></div>
      <div class="cd-timeline-content">
        <h2>Départ de PricewaterhouseCoopers</h2>
        <p>Alors qu’il a démissionné du cabinet d’audit qui l’employait, Antoine cherche à capitaliser son expérience professionnelle en copiant des documents de formation. Il tombe alors sur les « tax rulings » dans la base informatique de son employeur. Consterné par leur contenu, il les copie.</p>
        <time>Octobre 2010</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-comments-o"></div>
      <div class="cd-timeline-content">
        <h2>Contacts avec le journaliste Edouard Perrin</h2>
        <p>Antoine conserve pendant plusieurs mois les accords fiscaux, jusqu'à ce qu'un journaliste –Edouard Perrin– le contacte. Antoine lui confie les documents en question.</p>
        <time>Été 2011</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-video-camera"></div>
      <div class="cd-timeline-content">
        <h2>Reportage de Cash Investigation</h2>
        <p>L'émission "Cash Investigation" diffuse sur France 2 le reportage "Paradis fiscaux: Les petits secrets des grandes entreprises", basé sur les documents copiés par Antoine.</p>
        <p>C'est suite à ce reportage que PricewaterhouseCoopers portera plainte contre X.</p>
        <time>Mai 2012</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-newspaper-o"></div>
      <div class="cd-timeline-content">
        <h2>Affaire "LuxLeaks 1"</h2>
        <p>Une quarantaine de médias internationaux, partenaires de l'International Consortium of Investigative Journalism (ICIJ), révèlent des centaines d'accords fiscaux conclus par le fisc luxembourgeois pour le compte de multinationales.</p>
        <p>Sans avoir été en contact avec l'ICIJ, Antoine se réjouit des répercussions du travail du consortium.</p>
        <time>Novembre 2014</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-university"></div>
      <div class="cd-timeline-content">
        <h2>Inculpation par la justice Luxembourgeoise</h2>
        <p>Antoine est aujourd'hui poursuivi par la justice luxembourgeoise. Il risque la prison et une condamnation financière très élevée.</p>
        <p>Antoine Deltour a agi sans intention malicieuse et de manière totalement désintéressée. Son acte civique s'inscrit dans un large mouvement pour davantage de justice fiscale.</p>
        <time>Décembre 2014</time>
      </div>
    </div>

    </div>
  </section>
