  <section class="timeline">
    <div id="cd-timeline" class="cd-container">

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-sign-out"></div>
      <div class="cd-timeline-content">
        <h2>Départ de PricewaterhouseCoopers</h2>
        <p>Alors qu’il a démissionné du cabinet d’audit qui l’employait, Antoine cherche à capitaliser son expérience professionnelle en copiant des documents de formation. Il tombe alors sur les «&nbsp;tax rulings&nbsp;» dans la base informatique de son employeur. Consterné par leur contenu, il les copie.</p>
        <time dateTime="2010-10">Octobre 2010</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-comments-o"></div>
      <div class="cd-timeline-content">
        <h2>Contacts avec le journaliste Edouard Perrin</h2>
        <p>Antoine conserve pendant plusieurs mois les accords fiscaux, jusqu'à ce qu'un journaliste –Edouard Perrin– le contacte. Antoine lui confie les documents en question.</p>
        <time dateTime="2011-07">Été 2011</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-video-camera"></div>
      <div class="cd-timeline-content">
        <h2>Reportage de Cash Investigation</h2>
        <p>L'émission «&nbsp;Cash Investigation&nbsp;» diffuse sur France 2 le reportage «&nbsp;Paradis fiscaux&nbsp;: Les petits secrets des grandes entreprises&nbsp;», basé sur les documents copiés par Antoine.</p>
        <p>C'est suite à ce reportage que PricewaterhouseCoopers portera plainte contre X.</p>
        <time dateTime="2012-05">Mai 2012</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-newspaper-o"></div>
      <div class="cd-timeline-content">
        <h2>Affaire «&nbsp;LuxLeaks&nbsp;1&nbsp;»</h2>
        <p>Une quarantaine de médias internationaux, partenaires de l'International Consortium of Investigative Journalism (ICIJ), publient simultanément leurs enquêtes menées pendant plusieurs mois à partir des accords fiscaux copiés par Antoine, complétés d'une dizaine de documents issus d'une deuxième source.</p>
        <p>Sans avoir été en contact avec l'ICIJ, Antoine se réjouit des répercussions du travail du consortium.</p>
        <time dateTime="2014-11-05">5 novembre 2014</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-newspaper-o"></div>
      <div class="cd-timeline-content">
        <h2>Affaire «&nbsp;LuxLeaks&nbsp;2&nbsp;»</h2>
        <p>De nouveaux accords fiscaux sont révélés par l'ICIJ, conçus cette fois par les trois autres grands cabinets du conseil et de l'audit (Ernst &amp; Young, Deloitte et KPMG) qui, avec PricewaterhouseCoopers, forment les «&nbsp;big&nbsp;4&nbsp;».</p>
        <time dateTime="2014-12-09">9 décembre 2014</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-balance-scale"></div>
      <div class="cd-timeline-content">
        <h2>Inculpation d'Antoine par la justice Luxembourgeoise</h2>
        <p>Antoine est inculpé par la justice luxembourgeoise. Il risque la prison et une condamnation financière très élevée.</p>
        <p>Antoine Deltour a agi sans intention malicieuse et de manière totalement désintéressée. Son acte civique s'inscrit dans un large mouvement pour davantage de justice fiscale.</p>
        <time dateTime="2014-12-12">12 décembre 2014</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-balance-scale"></div>
      <div class="cd-timeline-content">
        <h2>Inculpation d'une deuxième source</h2>
        <p>La deuxième source présumée de Luxleaks 1, qui souhaite rester anonyme, est inculpée après avoir été licenciée par PricewaterhouseCoopers.</p>
        <time dateTime="2015-01-23">23 janvier 2015</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-university"></div>
      <div class="cd-timeline-content">
        <h2>Enquête du Parlement Européen</h2>
        <p>La Parlement Européen créée une <em>commission spéciale</em> dans le but d'enquêter sur les pratiques fiscales mises au jour par LuxLeaks. 192 députés européens avaient pourtant demandé la création d'une commission d'enquête, qui aurait eu des pouvoirs étendus.</p>
        <time dateTime="2015-02-12">12 février 2015</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-university"></div>
      <div class="cd-timeline-content">
        <h2>Premières propositions de la Commission Européenne</h2>
        <p>Le Commission Européenne propose un premier paquet de mesures en faveur de la transparence fiscale, dont l'échange automatique des «&nbsp;tax rulings&nbsp;». Le secrétaire général de l'OCDE déclare que c'est une étape révolutionnaire.</p>
        <time dateTime="2015-03-18">18 mars 2015</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-balance-scale"></div>
      <div class="cd-timeline-content">
        <h2>Édouard Perrin inculpé à son tour</h2>
        <p>Le journaliste Edouard Perrin est inculpé pour son implication présumée dans les faits reprochés à la deuxième source, sans lien direct avec ceux reprochés à Antoine. Ces poursuites suscitent de nombreuses réactions, elles sont considérées par certains comme une atteinte à la liberté de la presse.</p>
        <time dateTime="2015-04-23">23 avril 2015</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-trophy"></div>
      <div class="cd-timeline-content">
        <h2>Prix du Citoyen Européen</h2>
        <p>Le Parlement européen attribue à Antoine Deltour le Prix du citoyen européen 2015. Ce prix distingue les citoyens ayant contribué à la coopération européenne et à la promotion de valeurs communes.</p>
        <time dateTime="2015-06-03">3 juin 2015</time>
      </div>
    </div>
  
 
    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-bullhorn"></div>
      <div class="cd-timeline-content">
        <h2>Appel à Soutien relayé par Élise Lucet</h2>
        <p>La journaliste Elise Lucet appelle à soutenir Antoine Deltour dans le cadre de la mobilisation contre le projet de directive européenne sur le « secret des affaires » qui a réuni plus de 400 000 signataires pour son retrait. Ce projet menace le journalisme d’investigation et les lanceurs d’alerte.</p>
        <time dateTime="2015-07-03">3 juillet 2015</time>
      </div>
    </div>

 
    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-trophy"></div>
      <div class="cd-timeline-content">
        <h2>Nomination au Prix Sakharov</h2>
        <p>Antoine Deltour est conjointement nommé pour le Prix Sakharov 2015 avec deux autres lanceurs d’alerte, Edward Snowden (écoutes NSA) et Stéphanie Gibaud (banque UBS). Le Prix sera par la suite attribué au blogueur saoudien Raif Badawi</p>
        <time dateTime="2015-09-10">10 septembre 2015</time>
      </div>
    </div>

 
    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-university"></div>
      <div class="cd-timeline-content">
        <h2>Accord sur l'échange automatique des Tax Rulings</h2>
        <p>Les ministres des finances européens entérinent définitivement l’accord sur l’échange automatique entre États européens d’information sur les rescrits fiscaux (tax rulings) accordés par leurs administrations fiscales. La transparence des rescrits fiscaux progresse.</p>
        <time dateTime="2015-10-06">6 octobre 2015</time>
      </div>
    </div>

 
    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-newspaper-o"></div>
      <div class="cd-timeline-content">
        <h2>Rapport de la commission TAXE</h2>
        <p>Après huit mois de travail, la commission spéciale qui enquête sur les pratiques fiscales en Europe rend son rapport et préconise de nouvelles avancées de transparence afin de freiner les pratiques d’optimisation fiscale abusive.</p>
        <time dateTime="2015-10-25">25 octobre 2015</time>
      </div>
    </div>
 
    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-university"></div>
      <div class="cd-timeline-content">
        <h2>Commission TAXE 2</h2>
        <p>Suite aux révélations de pratiques d’obstruction pratiquées par certains Etats membres depuis des années concernant les questions fiscales en Europe, une nouvelle commission spéciale du Parlement européen est mise en place.</p>
        <time dateTime="2015-11-26">26 novembre 2015</time>
      </div>
    </div>

    </div>
  </section>
