  <section class="timeline">
    <div id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-sign-out"></div>
      <div class="cd-timeline-content">
        <h2>Departure from PricewaterhouseCoopers</h2>
        <p>Having resigned from the auditing firm where he was employed, Antoine wants to leverage his professional experience and copied some training documents. He then comes across the tax rulings among the electronic records of his employer. Appalled by their content, he copies them as well.</p>
        <time>October 2010</time>
      </div>
    </div>

    <div class="cd-timeline-block">
    <div class="cd-timeline-img fa-comments-o"></div>
      <div class="cd-timeline-content">
        <h2>Connections with a journalist</h2>
        <p>For several months Antoine has kept the fiscal agreements until he is contacted by a journalist. Antoine entrusts him with the documents in question.</p>
        <time>Summer 2011</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-video-camera"></div>
      <div class="cd-timeline-content">
        <h2>"Cash Investigation" program aired</h2>
        <p>The documents copied by Antoine are used for several television programs, aired on french channel "France 2".</p>
        <time>May 2012</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-newspaper-o"></div>
      <div class="cd-timeline-content">
        <h2>"LuxLeaks 1" publications</h2>
        <p>Some forty-odd international media companies, all of which are members of the l'International Consortium of Investigative Journalism (ICIJ), disclose hundreds of tax agreements that have been arranged by Luxembourg tax authorities on behalf of dozens of multinational companies.</p>
        <p>While he has never been directly in contact with the ICIJ, Antoine is pleased with the consequences of the consortium’s work, in agreement, for  the most part, with his original convictions.</p>
        <time>November 2014</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-university"></div>
      <div class="cd-timeline-content">
        <h2>Antoine is charged over leaking documents</h2>
        <p>Today Antoine is on trial in Luxembourg. He may go to prison and may have to face a very high fine.</p>
        <p>Antoine Deltour acted in a completely disinterested manner, without any malicious intent. His civic act falls within a wide movement in favor of more social justice.</p>
        <time>December 2014</time>
      </div>
    </div>

    </div>
  </section>
