  <section class="timeline">
    <div id="cd-timeline" class="cd-container">

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-sign-out"></div>
      <div class="cd-timeline-content">
        <h2>Départ de PricewaterhouseCoopers</h2>
        <p>Alors qu’il a démissionné du cabinet d’audit qui l’employait, Antoine cherche à capitaliser son expérience professionnelle en copiant des documents de formation. Il tombe alors sur les «&nbsp;tax rulings&nbsp;» dans la base informatique de son employeur. Consterné par leur contenu, il les copie.</p>
        <time dateTime="2010-10">Octobre 2010</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-comments-o"></div>
      <div class="cd-timeline-content">
        <h2>Contacts avec le journaliste Edouard Perrin</h2>
        <p>Antoine conserve pendant plusieurs mois les accords fiscaux, jusqu'à ce qu'un journaliste –Edouard Perrin– le contacte. Antoine lui confie les documents en question.</p>
        <time dateTime="2011-07">Été 2011</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-video-camera"></div>
      <div class="cd-timeline-content">
        <h2>Reportage de Cash Investigation</h2>
        <p>L'émission «&nbsp;Cash Investigation&nbsp;» diffuse sur France 2 le reportage «&nbsp;Paradis fiscaux&nbsp;: Les petits secrets des grandes entreprises&nbsp;», basé sur les documents copiés par Antoine.</p>
        <p>C'est suite à ce reportage que PricewaterhouseCoopers portera plainte contre X.</p>
        <time dateTime="2012-05">Mai 2012</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-newspaper-o"></div>
      <div class="cd-timeline-content">
        <h2>Affaire «&nbsp;LuxLeaks&nbsp;»</h2>
        <p>Une quarantaine de médias internationaux, partenaires  consortium de journalistes ICIJ, publient simultanément leurs enquêtes menées pendant plusieurs mois à partir des accords fiscaux copiés par Antoine, complétés d'une dizaine de documents issus d'une deuxième source.</p>
        <p>Sans avoir été en contact avec l'ICIJ, Antoine se réjouit des répercussions du travail du consortium.</p>
        <time dateTime="2014-11-05">5 novembre 2014</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-balance-scale"></div>
      <div class="cd-timeline-content">
        <h2>Inculpation d'Antoine par la justice Luxembourgeoise</h2>
        <p>Antoine est inculpé par la justice luxembourgeoise. Il risque la prison et une condamnation financière très élevée.</p>
        <p>Antoine Deltour a agi sans intention malicieuse et de manière totalement désintéressée. Son acte civique s'inscrit dans un large mouvement pour davantage de justice fiscale.</p>
        <time dateTime="2014-12-12">12 décembre 2014</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-balance-scale"></div>
      <div class="cd-timeline-content">
        <h2>Inculpation d'une deuxième source</h2>
        <p>La deuxième source présumée de Luxleaks 1, qui souhaite rester anonyme, est inculpée après avoir été licenciée par PricewaterhouseCoopers.</p>
        <time dateTime="2015-01-23">23 janvier 2015</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-university"></div>
      <div class="cd-timeline-content">
        <h2>Enquête du Parlement Européen</h2>
        <p>La Parlement Européen créée une <em>commission spéciale</em> dans le but d'enquêter sur les pratiques fiscales mises au jour par LuxLeaks. 192 députés européens avaient pourtant demandé la création d'une commission d'enquête, qui aurait eu des pouvoirs étendus.</p>
        <time dateTime="2015-02-12">12 février 2015</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-university"></div>
      <div class="cd-timeline-content">
        <h2>Premières propositions de la Commission Européenne</h2>
        <p>Le Commission Européenne propose un premier paquet de mesures en faveur de la transparence fiscale, dont l'échange automatique des «&nbsp;tax rulings&nbsp;». Le secrétaire général de l'OCDE déclare que c'est une étape révolutionnaire.</p>
        <time dateTime="2015-03-18">18 mars 2015</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-balance-scale"></div>
      <div class="cd-timeline-content">
        <h2>Le journaliste Édouard Perrin</h2>
        <p>Le journaliste Edouard Perrin est inculpé pour son implication présumée dans les faits reprochés à la deuxième source, sans lien direct avec ceux reprochés à Antoine. Ces poursuites suscitent de nombreuses réactions, elles sont considérées par certains comme une atteinte à la liberté de la presse.</p>
        <time dateTime="2015-04-23">23 avril 2015</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-trophy"></div>
      <div class="cd-timeline-content">
        <h2>Prix du Citoyen Européen</h2>
        <p>Le Parlement européen attribue à Antoine Deltour le Prix du citoyen européen 2015. Ce prix distingue les citoyens ayant contribué à la coopération européenne et à la promotion de valeurs communes.</p>
        <time dateTime="2015-06-03">3 juin 2015</time>
      </div>
    </div>
 
    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-trophy"></div>
      <div class="cd-timeline-content">
        <h2>Nomination au Prix Sakharov</h2>
        <p>Antoine Deltour est conjointement nommé pour le Prix Sakharov 2015 avec deux autres lanceurs d’alerte, Edward Snowden (écoutes NSA) et Stéphanie Gibaud (banque UBS). Le Prix sera par la suite attribué au blogueur saoudien Raif Badawi</p>
        <time dateTime="2015-09-10">10 septembre 2015</time>
      </div>
    </div>

 
    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-university"></div>
      <div class="cd-timeline-content">
        <h2>Accord sur l'échange automatique des Tax Rulings</h2>
        <p>Les ministres des finances européens entérinent définitivement l’accord sur l’échange automatique entre États européens d’information sur les rescrits fiscaux (tax rulings) accordés par leurs administrations fiscales. La transparence des rescrits fiscaux progresse.</p>
        <time dateTime="2015-10-06">6 octobre 2015</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-newspaper-o"></div>
      <div class="cd-timeline-content">
        <h2>Des tax rulings invalidés</h2>
        <p>La légalité de certains tax rulings est remise en cause par la Commission européenne car ils contreviennent au droit européen de la concurrence. Une filiale de Fiat au Luxembourg voit ses accords fiscaux invalidés. Des enquêtes visant d’autres entreprises sont ouvertes.</p>
        <time dateTime="2015-10-21">21 octobre 2015</time>
      </div>
    </div>
 
    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-newspaper-o"></div>
      <div class="cd-timeline-content">
        <h2>Procès « LuxLeaks » à Luxembourg</h2>
        <p>Les trois inculpés de l’affaire Luxleaks – dont Antoine – seront jugés au tribunal correctionnel de Luxembourg lors de cinq demi-journées d’audience réparties du 26 avril au 4 mai</p>
        <time dateTime="2016-04-26">26 avril 2016</time>
      </div>
    </div>
 
    </div>
  </section>
