  <section class="timeline">
    <div id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-sign-out"></div>
      <div class="cd-timeline-content">
        <h2>Departure from PricewaterhouseCoopers</h2>
        <p>Having resigned from the auditing firm where he was employed, Antoine wants to leverage his professional experience and copies some training documents. He then comes across the tax rulings among the electronic records of his employer. Appalled by their content, he copies them as well.</p>
        <time dateTime="2010-10">October 2010</time>
      </div>
    </div>

    <div class="cd-timeline-block">
    <div class="cd-timeline-img fa-comments-o"></div>
      <div class="cd-timeline-content">
        <h2>Connections with the journalist Edouard Perrin</h2>
        <p>For several months Antoine has kept the fiscal agreements until he is contacted by the french journalist Edouard Perrin. Antoine entrusts him with the documents in question.</p>
        <time dateTime="2011-07">Summer 2011</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-video-camera"></div>
      <div class="cd-timeline-content">
        <h2>"Cash Investigation" program aired</h2>
        <p>An episode of the french TV newsmagazine "Cash Investigation" airs an episode titled "Tax Havens: the little screts of the big companies", based on the documents copied by Antoine.</p>
        <p>Shortly after the broadcast, PricewaterhouseCoopers would file a complaint.</p>
        <time dateTime="2012-05">May 2012</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-newspaper-o"></div>
      <div class="cd-timeline-content">
        <h2>“LuxLeaks” publications</h2>
        <p>Some forty-odd international media companies, all of which are members of the l'International Consortium of Investigative Journalism (ICIJ), disclose hundreds of tax agreements that have been arranged by Luxembourg tax authorities on behalf of dozens of multinational companies.</p>
        <p>While he has never been directly in contact with the ICIJ, Antoine is pleased with the consequences of the consortium’s work, in agreement, for  the most part, with his original convictions.</p>
        <time dateTime="2014-11-05">November 5, 2014</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-balance-scale"></div>
      <div class="cd-timeline-content">
        <h2>Antoine is charged over leaking documents</h2>
        <p>Antoine is charged by Luxembourg authorities. He faces a 5-year jail sentence and a fine of up to 1,250,000&nbsp;€.</p>
        <p>Antoine Deltour acted in a completely disinterested manner, without any malicious intent. His civic act falls within a wide movement in favor of more social justice.</p>
        <time dateTime="2014-12-12">December 12, 2014</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-balance-scale"></div>
      <div class="cd-timeline-content">
        <h2>A second source is charged</h2>
        <p>Another ex-PwC employee is charged over the leak of the second set of documents used in Luxleaks 1. The alleged source, dismissed by PwC, wishes to remain anonymous.</p>
        <time dateTime="2015-01-23">January 23, 2015</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-university"></div>
      <div class="cd-timeline-content">
        <h2>Enquiry from the European Parliament</h2>
        <p>Following the LuxLeaks scandal, the European Parliament decides to set up a <em>special committee</em> to look into tax rulings and other abusive tax practices. 188 MEP had originally petitioned for the creation of a <em>committee of inquiry</em>, which would have had extended power over a special committee.</p>
        <time dateTime="2015-02-12">February 12, 2015</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-university"></div>
      <div class="cd-timeline-content">
        <h2>Tax Package proposal from the European Commission</h2>
        <p>The European Commission proposes a first package of transparency measures to fight corporate tax avoidance, including the automatic exchange of tax rulings between Member States. OECD Secretary General welcomes the package as “a revolutionary step towards international transparency on taxation”.</p>
        <time dateTime="2015-03-18">March 18, 2015</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-balance-scale"></div>
      <div class="cd-timeline-content">
        <h2>Journalist Édouard Perrin is charged</h2>
        <p>French journalist Édouard Perrin is charged by Luxembourg over his alleged role in the second set of leaks, which is legally not related to Antoine. The indictment is criticised by many parties, some people see it as a direct threat against press freedom.</p>
        <time dateTime="2015-04-23">April 23, 2015</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-trophy"></div>
      <div class="cd-timeline-content">
        <h2>European Citizen Prize</h2>
        <p>Antoine is awarded the European Citizen Prize 2015, bu the European Parliament. The prize honours citizens for their contribution to European cooperation and the promotion of common values.</p>
        <time dateTime="2015-06-03">June 3, 2015</time>
      </div>
    </div>
 
    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-trophy"></div>
      <div class="cd-timeline-content">
        <h2>Nomination for the Sakharov Prize</h2>
        <p>Antoine Deltour –together with whistleblowers Edward Snowden and Stéphanie Gibaud– is nominated for European Parliament's Sakharov Prize 2015. The prize will eventually be awarded to Saudi Arabian blogger Raif Badawi.</p>
        <time dateTime="2015-09-10">September 10, 2015</time>
      </div>
    </div>

 
    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-university"></div>
      <div class="cd-timeline-content">
        <h2>Agreement on the automatic exchange of tax rulings</h2>
        <p>European Union Ministers for Economy and Finance agree on the automatic exchange of tax rulings.</p>
        <time dateTime="2015-10-06">October 6, 2015</time>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-newspaper-o"></div>
      <div class="cd-timeline-content">
        <h2>Some tax rulings deemed illegal</h2>
        <p>The legality of several tax rulings is disputed by the European Commission, on the basis that they violate the EU's state aid rules. The tax rulings of a Fiat subsidiary in Luxembourg are invalidated. Further enquiries about other companies are launched.</p>
        <time dateTime="2015-10-21">October 21, 2015</time>
      </div>
    </div>
 
    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-newspaper-o"></div>
      <div class="cd-timeline-content">
        <h2>Report from the TAXE Special Committee</h2>
        <p>After height months of work, European parliament's Special Committee on Tax Rulings –created after the LuxLeaks– approves its final report. The report recommends measures to make corporate taxes in the EU fairer and more transparent, and promotes a better protection for whistleblowers.</p>
        <p>On November 26, the Committee's mandate is renewed for another 6 months.</p>
        <time dateTime="2015-10-25">October 25, 2015</time>
      </div>
    </div>
 
    <div class="cd-timeline-block">
      <div class="cd-timeline-img fa-newspaper-o"></div>
      <div class="cd-timeline-content">
        <h2>‘LuxLeaks’ Trial in Luxembourg</h2>
        <p>The three persons charged in the Luxleaks affair –including Antoine– will be on trial before the magistrates court of Luxembourg, during five half-days of hearing from April 26 to May 4.</p>
        <time dateTime="2016-04-26">26 avril 2016</time>
      </div>
    </div>


    </div>
  </section>
