<section id="members" class="anchor" aria-label="foo">
<h2 class="sr-only"><%= t("supporters.title") %></h2>
<div class="content">
  <p><%= t("members.text", :link => link_to(t("members.link"), i18n_path('/supporters.html'))) %> </p>
 </div>
  
</section>
