---
layout: page-base
---
<section class="press">
  <h1><%= I18n.t("donate.title") %></h1>
  <p><%= I18n.t("donate.description") %></p>

  <% link_to "https://www.helloasso.com/widgets/izi_don.aspx?beneficiaire=comite-de-soutien-a-antoine-deltour&lang=en",:class=>"action", :target=>"_blank" do %>
    <span><%= t('support.donate') %></span><i class="fa fa-credit-card"></i>
  <% end %>

  <p><%= t("donate.check") %></p>
  <p style="font-size: 1em; margin-left: 1em;">
    Comité de soutien à Antoine Deltour<br/>
    Centre Léo Lagrange<br/>
    BP 1006<br/>
    88050 EPINAL Cedex 9<br/>
    France
  </p>

</section>
