---
layout: page
---
<section class="press">
  <h1><%= I18n.t("donate.title") %></h1>
  <p><%= I18n.t("donate.description") %></p>

  <iframe id="haWidget" src="//www.helloasso.com/widgets/izi_don.aspx?beneficiaire=comite-de-soutien-a-antoine-deltour&amp;campagne=adhesion-au-comite-de-soutien-d-antoine-deltour&amp;color=%2370c24a&amp;lang=<%= I18n.locale%>" onload="scroll(0,0);" class="helloasso"></iframe> 

  <p><%= t("donate.alternative", :link => link_to(t("donate.helloasso"), "//www.helloasso.com/associations/comite-de-soutien-a-antoine-deltour")) %></p>
</section>
