---
layout: page-base
---
<section class="press">
  <h1><%= I18n.t("donate.title") %></h1>
  <p><%= I18n.t("donate.description") %></p>

  <iframe id="haWidget" src="//www.helloasso.com/associations/comite-de-soutien-a-antoine-deltour/formulaires/1/Widget/en" onload="scroll(0,0);" class="helloasso helloasso__donate"></iframe> 

  <p><%= t("donate.alternative", :link => link_to(t("donate.helloasso"), "//www.helloasso.com/associations/comite-de-soutien-a-antoine-deltour")) %></p>

  <p><%= t("donate.check") %></p>
  <p style="font-size: 1em; margin-left: 1em;">
    Comité de soutien à Antoine Deltour<br/>
    Centre Léo Lagrange<br/>
    BP 1006<br/>
    88050 EPINAL Cedex 9<br/>
    France
  </p>

</section>
